@charset "UTF-8";

@media screen and (max-width: 575px) {
    .container {
        flex-flow: column wrap;
        width: 350px;
        height: auto;
    }

    .container2 {
        margin: 20px 0;
        flex: 1;
        text-align: start;

        width: 350px;

        display: flex;
        flex-flow: column wrap;


    }
}